@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, rgba(99, 99, 255, 0.575), rgba(123, 131, 202, 0.616));
    color: white;
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: rgba(123, 131, 202, 0.616);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: rgba(123, 131, 202, 0.616);
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease;
}

.todo li{
    flex:1;
}

.trash-btn,
.complete-btn{
    background: rgba(219, 75, 75, 0.616);
    color: white;
    border:none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
}

.complete-btn{
    background-color: rgba(121, 206, 121, 0.664);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgba(123, 131, 202, 0.616);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: '\25BC';
    position: absolute;
    background-color: rgba(123, 131, 202, 0.616);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    text-align: center;
}

.select:hover::after{
    background-color: white;
    color: rgba(123, 131, 202, 0.616);
}