html{
    font-size: 100%;
}

ul {
    font-size: 2vh;
    display:flex;
    margin-top: 5px;
    border: 20px solid black;
    border-radius: 10px;
    background-color: black;
    /* Header */
}


a { color: blanchedalmond;
    margin-right: 20px;
    font-size: 2vh;
}

li {
    color: blanchedalmond;
    margin-right: 20px;
    font-size: 2vh;
}

.Logo {
    float:left;
    /* Logo */
}
.Tlj{
    font-size: 40pt;
    text-align: center;
    /* "Tout le jardin"*/
}

.Colonne {
    float:right;
    background-color: grey;
    width: 500px;
    height: 650px;
    /* Colonne de droite */
}

.Acc { 
    border: blanchedalmond;
    width: 1500px;
    height:auto;
    /* Bloc accueil */
}