/* @media screen and (max-width: 768px)
{  
    img{
        max-width: 100%;
        height: auto;
    }

    .Acc {
        max-width: 100%;
        height: auto;
        font-size: 118%;
    }

    .Colonne {
        display:none;
        /* Colonne droite masqué sur mobiles */
    /* }
    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        /* font-size: 118%;
    }
}
  */

